body {
    background-color: #c92347;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*parte menu*/
#menu-h {
    list-style: none;
    float: left;
    padding: 2px;
    line-height: 36px;
    background-color: rgb(204, 16, 66);
    width: 100%;
    text-align: justify;
}

.buttonmenu {
    background-color: #b41437;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 70px;
    font-size: 15px;
    border-color: palevioletred;
    border-radius: 20px;
}

.buttonmenu:hover {
    background-color: rgba(255, 49, 94, 0.84);
    color: antiquewhite;
}

#menu-h li {
    display: inline;
    float: left;
    position: relative;
}

#menu-h li a {
    color: rgb(255, 255, 255);
    padding: 0px 50px;
    float: left;
    text-decoration: none;
}

#menu-h li a:hover {
    background-color: #f09daf;
    color: rgb(243, 47, 106);
    width: 100%;
}

#menu-h li ul {
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: #d6274d;
    display: none;
    width: 100%;
}

#menu-h li:hover ul,
#menu-h li.over ul {
    display: block;
}

#menu-h li ul li {
    border: 1px solid #E82C54;
    display: block;
    width: 100%;
}

ul {
    margin: auto;
    display: flex;
    justify-content: auto;
}

/*parte banner*/
#banner {
    display: inline-block;
    top: 139px;
    right: 199px;
}

#imagem {
    top: 135px;
    right: 65px;
    position: absolute;
}

.titulobanner {
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 33px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.subtitulobanner {
    position: absolute;
    top: 250px;
    left: 50px;
    font-size: 30px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

/*botão banner*/
.buttonbanner {
    display: block;
    position: absolute;
    top: 330px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(204, 16, 66);
    color: #f5f3f3;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonbanner a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.buttonbanner:hover {
    background-color: rgba(255, 49, 94, 0.84);
    color: antiquewhite;
}

/*parte dos destaques*/
.destaque {
    margin-bottom: 5px;
}

.destaque1 {
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: antiquewhite;
}

.destaque1-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.destaque1-titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2px;
}

.destaque1-subtitulo {
    max-width: 650px;
    margin-bottom: 25px;
    text-align: center;
}

.destaque1-botao {
    background-color: #d6274d;
    color: #f5f3f3;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.destaque1-botao:hover {
    background-color: rgba(255, 49, 94, 0.84);
    color: antiquewhite;
}

.imagem-destaque1 {
    width: 500px;
}

/*parte destaque 2*/
.destaque2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 50px;
    color: aliceblue;
}

.destaque2-escrito {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.destaque2-titulo {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 35px;
}

.destaque2-subtitulo {
    max-width: 800px;
    margin-bottom: 30px;
}

.destaque2-botao {
    background-color: #f3f3f3;
    color: #d6274d;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.destaque2-botao:hover {
    background-color: rgba(255, 49, 94, 0.84);
    color: antiquewhite;
}

.imagem-destaque2 {
    width: 500px;
}

/*parte faixa destaque*/
.destaque-faixa {
    margin-bottom: 5px;
    width: 98%;
    background-color: aliceblue;
    border-radius: 30px;
}

.faixa {
    padding: 150px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.faixa-texto {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.faixa-titulo {
    font-size: 23px;
}

.faixa-botao {
    background-color: #d6274d;
    color: #f5f3f3;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}

.faixa-botao:hover {
    background-color: rgba(255, 49, 94, 0.84);
    color: antiquewhite;
}

/*rodape*/
footer {
    width: 100%;
    min-height: 300px;
    background: hwb(0 0% 100%);
    display: flex;
}

footer .rodape {
    width: 300px;
    min-height: 150px;
    padding: 20px;
    font-size: 20px;
}

footer .rodape:nth-child(4) {
    width: 400px;
}

.rodape h2 {
    color: #fff;
    margin-bottom: 10px;
}

.rodape ul {
    flex-direction: column;
    margin: auto;
    display: flex;
}

.rodape ul li {
    margin: 10px 0px;
    list-style: none;
    color: #fff;
}

.rodape ul li a {
    color: rgb(232, 222, 222);
    text-decoration: none;
}

.rodape ul li a:hover {
    color: #fff;
}